apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ template "puppetserver.name" . }}-puppetdb
  labels:
    {{- include "puppetserver.puppetdb.labels" . | nindent 4 }}
spec:
  selector:
    matchLabels:
      {{- include "puppetserver.puppetdb.matchLabels" . | nindent 6 }}
  strategy:
    type: Recreate
  template:
    metadata:
      labels:
        {{- include "puppetserver.puppetdb.labels" . | nindent 8 }}
      {{- if .Values.podAnnotations }}
      annotations:
        {{- toYaml .Values.podAnnotations | nindent 8 }}
      {{- end }}
    spec:
      hostname: puppetdb
      containers:
        - name: puppetdb
          image: "{{.Values.puppetdb.image}}:{{.Values.puppetdb.tag}}"
          imagePullPolicy: "{{.Values.puppetdb.pullPolicy}}"
          resources:
            {{- toYaml .Values.puppetdb.resources | nindent 12 }}
          env:
            {{- range $key, $value := .Values.puppetdb.extraEnv }}
            - name: {{ $key }}
              value: "{{ $value }}"
            {{- end }}
            - name: PUPPETSERVER_HOSTNAME
              value: "puppet"
            - name: PUPPETSERVER_PORT
              value: "{{ template "puppetserver.puppetserver-masters.port" . }}"
            - name: PUPPETDB_POSTGRES_HOSTNAME
              value: "{{ template "puppetserver.name" . }}-postgresql"
            - name: PUPPETDB_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: {{ template "puppetdb.secret" . }}
                  key: password
            - name: PUPPETDB_USER
              valueFrom:
                secretKeyRef:
                  name: {{ template "puppetdb.secret" . }}
                  key: username
          ports:
            - name: pdb-http
              containerPort: 8080
            - name: pdb-https
              containerPort: 8081
          volumeMounts:
            - name: puppetdb-storage
              mountPath: /opt/puppetlabs/server/data/puppetdb/certs
            {{- if .Values.puppetdb.metrics.enabled }}
            - name: puppetdb-metrics-volume
              mountPath: /etc/puppetlabs/puppetdb/jolokia-access.xml
              subPath: jolokia-access.xml
            - name: puppetdb-metrics-volume
              mountPath: /etc/puppetlabs/puppetdb/conf.d/metrics.conf
              subPath: metrics.conf
            {{- end -}}
        {{- if .Values.puppetboard.enabled }}
        - name: puppetboard
          image: "{{.Values.puppetboard.image}}:{{.Values.puppetboard.tag}}"
          imagePullPolicy: "{{.Values.puppetboard.pullPolicy}}"
          resources:
            {{- toYaml .Values.puppetboard.resources | nindent 12 }}
          env:
            - name: PUPPETDB_HOST
              value: "puppetdb"
            - name: PUPPETDB_PORT
              value: "8081"
            - name: PUPPETDB_SSL_VERIFY
              value: "/opt/puppetlabs/server/data/puppetdb/certs/certs/ca.pem"
            - name: PUPPETDB_CERT
              value: "/opt/puppetlabs/server/data/puppetdb/certs/certs/public.pem"
            - name: PUPPETDB_KEY
              value: "/opt/puppetlabs/server/data/puppetdb/certs/private_keys/private.pem"
            {{- range $key, $value := .Values.puppetboard.extraEnv }}
            - name: {{ $key }}
              value: "{{ $value }}"
            {{- end }}
          ports:
            - name: puppetboard
              containerPort: 80
          volumeMounts:
            - name: puppetdb-storage
              mountPath: /opt/puppetlabs/server/data/puppetdb/certs
        {{- end }}
      volumes:
        - name: puppetdb-storage
        {{- if .Values.puppetdb.customPersistentVolumeClaim.storage.enable }}
          {{- toYaml .Values.puppetdb.customPersistentVolumeClaim.storage.config | nindent 10 }}
        {{- else }}
          persistentVolumeClaim:
            claimName: puppetdb-claim
        {{- end }}
        {{- if .Values.puppetdb.metrics.enabled }}
        - name: puppetdb-metrics-volume
          configMap:
            name: puppetdb-metrics-config
        {{- end }}
      {{- if .Values.nodeSelector }}
      nodeSelector:
        {{ toYaml .Values.nodeSelector | nindent 10 }}
      {{- end }}
      {{- if .Values.affinity }}
      affinity:
        {{ toYaml .Values.affinity | nindent 10 }}
      {{- end }}
      {{- if .Values.tolerations }}
      tolerations:
        {{ toYaml .Values.tolerations| nindent 10 }}
      {{- end }}
      {{- if and (.Capabilities.APIVersions.Has "scheduling.k8s.io/v1beta1") (.Values.priorityClassName) }}
      priorityClassName: {{ .Values.priorityClassName }}
      {{- end }}
